p {
  margin: 0 !important;
  padding: 0 !important;
}

.todo-list-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: lightskyblue;
}

.todo-list-content {
  margin: 40px 0;
  width: 900px;
}

.todo-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item-container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.todo-item-action {
  display: flex;
  align-items: center;
}
