.Iteam li{
    list-style-type: none;
    border: 1px solid;
}

.list-container {
    width: calc(100% - 300px);
}
.member{
    padding: 4px;
    background-color: royalblue;
}
.list_members{
    display: flex;
    justify-content: space-around;
}
.child_members{
    display: flex;
    
}
.soDu{
    background-color:mediumslateblue;
    border-radius: 50px;
    width: 40px;
    padding-top: 5.2px;
    text-align: center;
}
img{
    border-radius: 50px;
    width: 40px;
}
