.form .row{
    width: 500px;
    padding-top: 10px;
    margin: 0 auto;
}
.form-control, .btn-primary{
    border-radius: 18px;
    width:500px
}
.firstname, .phoneNumber{
    width:290px
}
.lastname, .gender{
    margin-left: 10px;
    width: 200px;
}
h3{
    text-align: center;
}