.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 53px;
  background-color: black;
  color: white;
}

.header-menu {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  height: 53px;
  transform: translate(-50%, -50%);
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #333333;
}
