

.item{
    border: 1px solid #ccc;
    margin: 16px 0;
    
    
}
.description{
    
    
}
.group{
    background-color: #ffd803;
}
.images{
    display: flex;
    justify-content: start;
    align-items: center;
}
.image{
    
    width: 50px;
    height: 50px;
   
    border-radius: 50%;
}
.imageNull{
    background-color: #ffd803;
    display: inline-block;
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50%;
}
